body{
  font-family: "acumin-pro",sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A3B5E3;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border-top: 5px solid #A3B5E3;
}

a{
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  opacity: 0.7;
}

a:hover{
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  opacity: 1.0;
}

h1{
  font-size: 2.5rem;
  color: #fff;
  font-weight: 400;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
}

p{
	font-size: 1.125em;
	line-height: 1.75em;
	text-align: left;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

header{
  text-align: left;
  padding: 5em 0 0.5em 0;
  width: 100%;
}

.content{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-iteration-count: 1;
}

ul {
  list-style: none;
  padding-left: 3px;
  margin-top: 0px;
}

li {
  display: inline-block;
  padding-right: 50px;
}

/* Responsive */

@media screen and (max-width: 800px){

.wrapper{
  padding: 0 2em;
}

}

/* Landscape */

@media screen and (max-width: 480px){

header{
	padding: 4em 0 2em 0;
}

.wrapper{
	padding: 0 2em;
	max-width: 100%;
}

li {
  display: list-item;
  padding-bottom: 20px;

}

/* Mobile */

@media screen and (max-width: 320px){

h1{
	font-size: 1.4em;
}

.wrapper{
	padding: 0 2em;
	max-width: 100%;
}

header{
	padding: 2em 0 2em;
}

li {
  display: list-item;
  padding-bottom: 20px;
}

}