/* Portfolio Styles */
/* ----------------------------------------------------------------------------------------------------------------------------- Mixins */
/* Color Palette */
@font-face {
  font-family: 'proxima_nova';
  src: url("/assets/fonts/proxima_nova/ProximaNova-Regular.otf"); }

/* ----------------------------------------------------------------------------------------------------------------------------- Portfolio Main Styles */
h1 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400; }

h2 {
  font-family: "chaparral-pro",sans-serif;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 40px; }

h3, h4, h5, h6 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400; }

h3 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px; }

body {
  font-family: 'proxima_nova', Helvetica, sans-serif; }

.btn {
  border-radius: 0px;
  border: none;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px; }

.btn-primary {
  background-color: #29355c; }

.btn-primary:hover {
  background-color: #242f52; }

.btn-secondary {
  background-color: #00cbb5;
  color: white; }

.btn-secondary:hover {
  background-color: #00c0ab;
  color: white; }

.btn-alternative {
  background-color: white;
  color: #00cbb5; }

/* Navigation */
.navbar-brand img {
  margin-top: -13px;
  width: 45px; }

.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'proxima_nova', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400; }

.navbar-custom .navbar-brand:focus {
  outline: 0; }

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff; }

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0; }

.navbar-custom a {
  color: #fff; }

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  color: #00cbb5;
  background: none; }

.navbar-toggle {
  color: white; }

.get-in-touch {
  margin-left: 60px;
  outline: 2px solid white; }

.get-in-touch:hover {
  outline: 2px solid #00cbb5; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: rgba(41, 53, 92, 0.9);
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  .top-nav-collapse {
    padding: 0;
    background-color: #000; }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }
/* Introduction */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/header-image.jpg) no-repeat bottom center scroll;
  background-color: #29355c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  border-color: #00cbb5;
  color: #00cbb5;
  background: rgba(255, 255, 255, 0.1); }

.btn-circle i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear; }

.btn-circle:hover i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s; }

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1); }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

.brand-heading {
  font-size: 80px;
  line-height: 1;
  text-transform: none;
  color: #fff;
  margin-bottom: 40px;
  z-index: 1001;
  font-weight: 500;
  margin-top: 100px; }

.brand-tagline {
  font-size: 30px;
  line-height: 35px;
  text-transform: none;
  color: #00cbb5;
  z-index: 1001;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 0px; }

.brand-status {
  font-size: 16px;
  padding-bottom: 40px;
  font-family: 'proxima_nova', Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 2px; }
  .brand-status span {
    color: #00cbb5; }

/* Services */
.services {
  background-color: #00cbb5;
  color: white;
  padding: 35px 0px 60px 0px; }
  .services h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 5px; }
  .services img {
    width: 70px;
    padding-bottom: 10px; }
  .services .design {
    width: 95px; }
  .services .identity {
    width: 55px; }
  .services .consult {
    width: 42px; }
  .services p {
    font-family: 'proxima_nova', Helvetica, sans-serif; }

/* Projects */
.project-1 {
  background-color: white;
  color: #29355c; }

.project-2 {
  background-color: #ececec;
  color: #29355c;
  background: url(../img/projects-image.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.project-3 {
  background-color: #29355c;
  color: white; }

.projects {
  padding: 60px 0px 60px 0px; }
  .projects h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 42px;
    padding-bottom: 10px; }
  .projects p {
    padding-bottom: 10px; }
  .projects img {
    width: 100%; }

/* Dribbble */
.dribbble {
  text-align: center;
  background: white;
  float: left;
  width: 100%;
  text-align: center;
  padding: 60px 0px 60px 0px; }
  .dribbble h3 {
    color: #00cbb5;
    padding-bottom: 15px; }
  .dribbble h4 {
    font-family: "chaparral-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #29355c;
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 35px; }
  .dribbble a {
    color: rgba(234, 76, 137, 0.75); }
  .dribbble a:hover {
    border-bottom: 1px solid rgba(234, 76, 137, 0.75);
    text-decoration: none; }

.shot {
  margin-top: 20px;
  margin-bottom: 20px; }

.shot img {
  max-width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid #ececec; }

.dribbble .grid {
  margin: 0 auto;
  list-style: none;
  text-align: center; }

.dribbble .grid li {
  margin: 0 auto;
  text-align: center;
  padding: 0 0px;
  position: relative;
  margin: 20px; }

.dribbble .grid li.shot a {
  float: left;
  width: 100%;
  border-bottom: none;
  margin: 0; }

.dribbble .grid li a:hover {
  opacity: 1; }

.dribbble .grid figure {
  margin: 0;
  position: relative; }

.grid figure img {
  max-width: 100%;
  position: relative; }

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(234, 76, 137, 0.75);
  color: white; }

.dribbble .grid figcaption h3 {
  margin: 0;
  padding: 0;
  margin-top: 25%;
  font-size: 1.8em;
  letter-spacing: 0;
  color: white;
  text-transform: none; }

.dribbble .grid figcaption h4 {
  margin-top: 10px;
  color: white;
  font-size: 18px; }

.dribbble .grid figcaption h4:hover {
  text-decoration: underline; }

.dribbble .grid figcaption span {
  font-size: 1.5em;
  letter-spacing: 0; }

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff; }

.cs-style-3 figure {
  overflow: hidden; }

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.cs-style-3 figcaption {
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 1s, opacity 0.1s 0.3s;
  transition: transform 1s, opacity 0.1s 0.3s;
  margin: 0;
  padding: 20px 0; }

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.dribbble .grid figcaption span {
  display: none; }

/* About */
.about {
  padding: 60px 0px 60px 0px;
  background-color: #00cbb5;
  color: white;
  background: url(../img/about-image.jpg) no-repeat bottom center scroll;
  background-color: #00cbb5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .about img {
    width: 15%;
    margin: 60px 0px 50px 0px;
    background: #00b6a2;
    border-radius: 200px;
    padding: 3px; }
  .about h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px; }
  .about .btn-alternative {
    background-color: transparent;
    outline: 2px solid white;
    margin-left: 35px;
    color: white;
    text-decoration: none;
    border-bottom-color: transparent; }
  .about .btn-alternative:hover {
    background-color: transparent;
    text-decoration: underline;
    color: white; }
  .about a {
    color: white;
    border-bottom: 1px solid white; }
  .about a:hover {
    color: #29355c;
    border-bottom: 1px solid #29355c;
    text-decoration: none; }
  .about p {
    font-size: 15px;
    padding-top: 10px;
    line-height: 25px;
    font-family: 'proxima_nova', Helvetica, sans-serif; }

/* Blog Excerpts */
.blog-excerpts ul {
  padding-left: 0px;
  padding-top: 1px; }
  .blog-excerpts ul li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    list-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'proxima_nova', Helvetica, sans-serif; }
    .blog-excerpts ul li a {
      border-bottom: none; }
    .blog-excerpts ul li a:hover {
      color: white;
      border-bottom: 1px solid white; }
    .blog-excerpts ul li span {
      font-size: 14px;
      font-family: "chaparral-pro",sans-serif;
      font-weight: 400;
      text-transform: none;
      margin-top: 0px;
      font-style: italic; }

/* Contact */
.contact {
  padding: 60px 0px 60px 0px;
  background-color: #29355c;
  color: white;
  background: url(../img/contact-image.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-size: 14px; }
  .contact h3 {
    padding-bottom: 15px; }
  .contact h4 {
    font-family: "chaparral-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #00cbb5;
    line-height: 30px;
    font-size: 19px;
    text-align: center; }
  .contact ul {
    padding-left: 0px;
    margin-top: 20px; }
    .contact ul li {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 12px; }
    .contact ul .fa {
      background-color: rgba(255, 255, 255, 0.3);
      padding: 10px 12px;
      border-radius: 30px;
      color: white; }
    .contact ul .fa:hover {
      -webkit-transition: background .4s ease-in-out;
      -moz-transition: background .4s ease-in-out;
      transition: background .4s ease-in-out;
      background-color: #00cbb5;
      color: white;
      border-bottom: none; }
    .contact ul a {
      border-bottom: none; }
    .contact ul a:hover {
      border-bottom: none; }
  .contact .btn-alternative {
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid transparent; }
  .contact .btn-alternative:hover {
    outline: 0;
    border-bottom: 1px solid white; }
  .contact img {
    width: 30px;
    margin-right: 20px; }
  .contact .phone {
    width: 20px;
    margin-left: 0px;
    vertical-align: middle; }
  .contact .facebook {
    padding: 10px 15px !important; }
  .contact h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 55px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); }
  .contact a {
    color: white;
    border-bottom: 1px solid white; }
  .contact a:hover {
    color: #e9eaee;
    text-decoration: none;
    border-bottom: 1px solid #e9eaee; }
  .contact p {
    margin-bottom: 25px; }
  .contact .call {
    margin-left: 5px; }
  .contact .email a, .contact .call a {
    border-bottom-color: transparent !important; }
  .contact .email a:hover, .contact .call a:hover {
    border-bottom: 1px solid #e9eaee !important; }

/* Footer */
.footer {
  padding: 20px 0px 10px 0px;
  background-color: #232E4F;
  color: #949aad;
  font-family: 'proxima_nova', Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 1px; }
  .footer .left-section {
    text-align: left; }
  .footer .right-section {
    text-align: right; }
  .footer .page-scroll {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 12px;
    border-radius: 30px;
    color: #29355c;
    font-weight: 800; }

/* ----------------------------------------------------------------------------------------------------------------------------- Blog Main Styles */
/* ----------------------------------------------------------------------------------------------------------------------------- Media Queries */
/* Phone Portrait */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    width: 40px;
    padding-top: 6px; }

  .navbar {
    background: #29355c; }

  .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
    background-color: #00cbb5;
    color: white; }

  .get-in-touch {
    outline: none;
    margin-left: 0px; }

  .get-in-touch:hover {
    outline: 0; }

  h2 {
    font-size: 25px !important; }

  .service {
    padding-top: 15px;
    padding-bottom: 15px; }

  .dribbble h3 {
    font-size: 20px; }

  .about img {
    width: 60%; }
  .about .btn-alternative {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #00c0ab; }

  .blog-excerpts {
    padding-left: 15px; }

  .footer {
    text-align: center; }

  .lets-talk {
    display: none; } }
/* Phone Landscape */
@media only screen and (min-width: 480px) and (max-width: 970px) {
  .navbar-brand img {
    width: 40px;
    padding-top: 6px; }

  .navbar {
    background: #29355c; }

  .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
    background-color: #00cbb5;
    color: white; }

  .get-in-touch {
    outline: none;
    margin-left: 0px; }

  .get-in-touch:hover {
    outline: 0; }

  .service {
    padding-top: 15px;
    padding-bottom: 15px; }

  .dribbble h3 {
    font-size: 22px; }
  .dribbble ul li {
    margin-left: -20px !important; }

  .about img {
    width: 60%; }
  .about .btn-alternative {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #00c0ab; }

  .blog-excerpts {
    padding-left: 15px; }

  .footer {
    text-align: center; } }
/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about img {
    width: 30%; } }
/* Tablet Landscape */
@media only screen and (min-width: 970px) and (max-width: 1200px) {
  .projects h4 {
    padding-top: 10px; } }